<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Welcome to GC Fashion Store</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Generate Order »</a>
        </p>
      </div>
    <%- include footer %>